---
// src/pages/keystatic/index.astro
export const prerender = true;

import { KeystaticApp } from './_app';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keystatic Admin</title>
</head>
<body>
    <KeystaticApp client:only="react" />
</body>
</html>
